{% extends 'base.html.twig' %}

{% block title %}WhatsNew
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<th>Cours</th>
			<th>Professeur</th>
			<th>Salle</th>
			<th>Specialite</th>
			<th>Dates</th>
			<th>Matine</th>
			<th>Promo</th>
		</thead>
		<tbody>
			{% for schedule in schedules %}
				<tr>
					<td>{{ schedule.cours }}</td>
					<td>{{ schedule.professeur }}</td>
					<td>{{ schedule.salle }}</td>
					<td>{{ schedule.specialite }}</td>
					<td>{{ schedule.dates ? schedule.dates|date('d-m-Y') : '' }}</td>
					<td>{{ schedule.matine }}</td>
					<td>{{ schedule.promo }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</div>
{% endblock %}
